* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(234, 248, 234);
}

header {
  align-items: center;
  background-color: green;
  color: white;
  display: flex;
  flex-direction: row;
}

header img {
  padding: 0 30px;
}

.logo-trybe {
  width: 7%;
}

.div-main {
  display: flex;
  flex-direction: row;
}

.div-categories {
  align-items: center;
  background-color: rgb(134, 177, 134);
  display: flex;
  flex-direction: column;
  width: 25%;
}

.ul-categories {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ul-categories p {
  font-size: 20px;
  margin: 20px;
}

.cada-categoria {
  list-style-type: none;
  margin-bottom: 5px;
  width: 95%;
}

.btn-categoria {
  font-size: 15px;
  padding: 8px;
  width: 100%;
}

.div-principal {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: top;
  width: 100%;
}

.div-info-inicial {
  margin-top: 40px;
  padding: 20px;
}

.input-e-carrinho-de-compras {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.input-busca {
  margin-right: 5px;
  padding: 10px;
  width: 25%;
}

.btn-busca-produto {
  background-color: green;
  color: white;
  font-size: 16px;
  margin-right: 5px;
  padding: 10px;
}

.btn-busca-produto:hover {
  background-color: rgb(0, 61, 0);
}

.link-shopping-cart {
  background-color: rgb(3, 104, 3);
  border-radius: 7px;
  color: white;
  font-size: 18px;
  list-style-type: none;
  margin-right: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.link-shopping-cart:hover {
  background-color: rgb(0, 61, 0);
  text-decoration: none;
}

.lista {
  align-items: flex-start;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}

.lista-de-produtos {
  align-items: flex-start;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}

.produtos-enc {
  background-color: rgb(134, 177, 134);
  border-radius: 7px;
  color: black;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  width: 20%;
}

.produtos-encontrados {
  background-color: rgb(134, 177, 134);
  border-radius: 7px;
  color: black;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  width: 20%;
}

.div-produtos-encontrados {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.produtos-encontrados-title {
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
}

.imagem-produto {
  padding-bottom: 15px;
  width: 60%;
}

.div-product-id {
  display: flex;
  flex-direction: column;
}

.div-produto-detalhes {
  background-color: black;
  display: flex;
}

.informations-product-id {
  display: flex;
  flex-direction: row;
}

.informations-product-id div {
  align-items: center;
  background-color: rgb(134, 177, 134);
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.div-product-id-header {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.div-product-id-header img {
  border-radius: 10px;
  width: 40%;
}

.div-product-id-header h2 {
  margin-bottom: 50px;
  text-align: center;
}

.div-product-id ul {
  margin-left: 20px;
  padding: 50px;
  width: 50%;
}

.product-atributos-id {
  list-style-type: none;
  padding-top: 10px;
}

.adicionar-ao-carrinho-productList {
  background-color: green;
  color: white;
  list-style-type: none;
  margin-left: 25px;
  padding: 10px;
  text-decoration: none;
}

.adicionar-ao-carrinho-productDetails {
  background-color: green;
  border-radius: 7px;
  color: white;
  font-size: 18px;
  list-style-type: none;
  margin-top: 20px;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.adicionar-ao-carrinho-productDetails:hover {
  background-color: rgb(0, 61, 0);
  text-decoration: none;
}

.link-product-home {
  width: 20%;
}

.link-product-home img {
  width: 40%;
}
